﻿
@{
    ViewBag.Title = "Test2";
}

<h2>Test2</h2>

@using (Html.BeginForm()) {
<div>
    姓名: @Html.TextBox("email") <br><br />

    帳號: @Html.TextBox("name")<br><br />

    密碼: @Html.Password("password")<br><br />

    性別: @Html.RadioButton("gender", "0")男性 @Html.RadioButton("gender", "1")女性<br><br />

    興趣: @Html.CheckBox("habbit", "false")游泳 @Html.CheckBox("habbit", "false")閱讀 @Html.CheckBox("habbit", "false")看電影<br><br />

    自我介紹: @Html.TextArea("message")
</div>
}